<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fisei.visitapp.app" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name = "android.permission.set_debug_app"/> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practica" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".VisitaSistemasActivity"
            android:label="@string/title_activity_visita" >
        </activity>
        <activity
            android:name=".SeleccionVisitaActivity"
            android:label="@string/title_activity_seleccion_visita" >
        </activity>
        <!--<activity-->
            <!--android:name=".ConfiguracionActivity"-->
            <!--android:label="@string/title_activity_configuracion"-->
            <!--android:parentActivityName=".HomeActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.fisei.visitapp.app.HomeActivity" />-->
        <!--</activity>-->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_configuracion">
        </activity>
    </application>

</manifest>
